//
//  Config.xcconfig
//  CapGen
//
//  Created by Kevin Vu on 1/5/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENV = dev
FB_APP_ID = 1312452242935892
FB_CLIENT_TOKEN = b608fbf759606d84eab5669d2844b256
FB_APP_NAME = CapGen Dev
REVERSE_CLIENT_ID = com.googleusercontent.apps.364277529674-e9fg3signpb8q01pcm3308qm27179vth
ADMOB_APP_ID = ca-app-pub-3366077169930996~4851487950
ADMOB_REWARDED_AD_UNIT_ID = ca-app-pub-3940256099942544/1712485313 // REMOVE AND USE FROM FIREBASE
