<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364277529674-e9fg3signpb8q01pcm3308qm27179vth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364277529674-e9fg3signpb8q01pcm3308qm27179vth</string>
	<key>API_KEY</key>
	<string>AIzaSyDbGMivkoib87v_oRSXJMujcUyVdSOQAew</string>
	<key>GCM_SENDER_ID</key>
	<string>364277529674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevu.CapGen.dev</string>
	<key>PROJECT_ID</key>
	<string>capgen---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>capgen---dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364277529674:ios:d89ed679295d09b5653ab3</string>
</dict>
</plist>